/* Initialisation reset*/
*{
    margin:0;
    padding:0;
}
/* Déclaration initiale box-sizing */
*{
  box-sizing: border-box;
 /* box-sizing est appliqué à tous les éléments */
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color:black;
    text-align: left;
}
main{
    margin:30px;
}
a{
    text-decoration: none;
    color:black;
    background-color: white;
}
h1{
    /* width:100%; */
}
p{
    /* margin:5px 0; */
}

/************** HEADER *************/
header{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:0 40px;
}
    /******** Logo *********/
#header-logo{
    text-align: center;
    width:125px;
    height:auto;
}
    /******** Navigation/menu *********/
#header-nav{
    width: 100%;
}
#header-nav-ul{
    display:flex;
    flex-direction: row;
    margin:0 30px;
    padding:0;
    justify-content: flex-end;     
}
.header-nav-li{
    list-style: none;
    padding:40px;
    text-align: center;
    border-top:solid white;
}
.header-nav-li:hover{
    color:#0065FC;
    border-top:solid 3px #0065FC;
}
.header-nav-li a:hover{
    color:#0065FC;
    background-color: white;
}

/************** FORM SEARCH + FILTERS *************/
    /******** Section *********/
#section-form-search-filters{
    display:flex;
    flex-direction:column;
    align-items: space-around;
}
        /******* Form search*******/
#section-form-search-filters form{
    width:40%;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    margin:15px 0;
}
            /**** Icon location ****/
i.fa-map-marker-alt{
    text-align:center;
    font-size: 1.2em;
    padding:23px;
    border-radius:22px 0 0 22px;
    background-color: #F2F2F2;
    flex-grow:1;
}
            /**** Input : search + submit ****/
#form-search-input, #form-search-button{
    font-family: "Raleway";
    font-weight: bold;
    font-size:20px;
    border:none;
}
#form-search-input{
    flex-grow:2;
    background-color: white;
    color:black;
    border:solid 2px #F2F2F2;
    padding:21px 0px 21px 20px;
}
#form-search-input::placeholder{
    opacity: 1;
}
#form-search-button{
    padding:22px;
    flex-grow:1;
    color:white;
    background-color: #0065FC;
    border-radius:0 22px 22px 0;
}
            /**** Icon glass ****/
i.fa-search{
    display:none;
}

        /******* Filters*******/
#filters{
    width:80%;
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
#filters p{
    font-weight: bold;
}
.filters-button{
    padding:15px 25px;
    font-weight: bold;
    background-color: white;
    border:solid 3px #F2F2F2;
    border-radius:40px;
}
#filters i{
    padding:10px;
    color:#0065FC;
    background-color: #DEEBFF;
    border-radius:30px;
    text-align:center;
}




/*** MEDIA QUERIES ***/
@media (max-width: 768px){ /*mobiles*/
    /* Main */
        main{margin:60px;}

    /* Header */
        header{display:flex;flex-direction: column;align-items: center;margin:10px;}
        #header-logo{width:127px;}
        #header-nav, .header-nav-li {width: 100%;}
        #header-nav-ul{margin:0;justify-content: space-evenly;}
        .header-nav-li{margin:0;border-bottom:solid 3px #F2F2F2;}
        .header-nav-li:hover{border-top:solid white;}
        .header-nav-li:hover{border-bottom:solid 3px #0065FC;border-top:solid white;color:#0065FC;}
    
    /* Form search */
        form{width:80%;}
        #form-search-input{overflow:hidden;}
        #form-search-button{display:none;}
        i.fa-search{flex-grow:1;display:inline-block;text-align:center;color:white;background-color:#0065FC;padding:23px 20px;border-radius:22px;position:relative;right:30px;}
}

@media (min-width: 769px) and (max-width: 991px){ /*tablettes*/
        /* Form search */
        i.fa-search{display:none;}
}

@media (min-width: 992px){ /*écrans ordinateurs*/
        /* Form search */
        .fa-search{display:none;}
}





