/* Initialisation reset*/
*{
    margin:0;
    padding:0;
}
/* Initialisation box-sizing */
*{
  box-sizing: border-box;
}
/************** GLOBAL *************/
body{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color:black;
    text-align: left;
    max-width:1920px;
    margin:auto!important;
}
main{
    margin:0 60px;
}
a{
    text-decoration: none;
    color:black;
    background-color: white;
}
h1{
    font-size: 1.7em!important;
}
h2{
    font-size: 1.2em;
}
h3{
    font-size: 0.8em;
}
/************** HEADER *************/
header{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:0 60px;
}
    /******** Logo *********/
#div-header-logo{
    display: flex;
    flex-direction:row;
    align-items:center;
}
#header-logo{
    text-align: center;
    width:50%;
}
    /******** Nav *********/
#header-nav{
    flex:4;
    margin:0;
    padding:0;
}
#header-nav-ul{
    padding:0;
    display:flex;
    flex-direction: row;
    justify-content: end;     
}
#header-nav-ul li{
    list-style: none;
    padding:40px 0px;
}
.header-nav-li{
    margin-right:20px;
    padding:37px 30px;
    text-align: center;
    border-top:solid 0px;
}
.header-nav-li:hover, .header-nav-li:active{
    color:#0065FC;
    border-top:solid 3px #0065FC;
}
.header-nav-li a:hover, .header-nav-li a:active{
    color:#0065FC;
    background-color: white;
}
/************** SECTION 1 : FORM SEARCH + FILTERS *************/
    /******** Section *********/
#section-form-search-filters{
    display:flex;
    flex-direction:column;
}
        /******* FORM SEARCH *******/
#div-form{
    max-width:666px;
    margin:20px 0 10px 0;
}
#section-form-search-filters form{
    width:100%;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
}
            /**** Icon location ****/
i.fa-map-marker-alt{
    flex: 10%;
    padding:23px;
    text-align:center;
    font-size: 1.2em;
    border-radius:22px 0 0 22px;
    background-color: #F2F2F2;
}
            /**** Inputs : search + submit ****/
#form-search-input, #form-search-button{
    font-family: "Raleway";
    font-weight: bold;
    font-size:20px;
    border:none;
}
#form-search-input{
    flex: 60%;
    padding:21px 0px 21px 17px;
    background-color: white;
    color:black;
    border:solid 2px #F2F2F2;
    border-left:none;
}
#form-search-input::placeholder{
    opacity: 1;
    color:black;
}
#form-search-button{
    flex: 30%;
    margin:-2px;
    padding:23px;
    color:white;
    background-color: #0065FC;
    border-radius:0 22px 22px 0;
    cursor: pointer;
}
            /**** Icon glass ****/
i.fa-search{
    display:none;
}
        /******* FILTERS *******/
#filters{
    margin:10px 0;
    display:flex;
    flex-flow: row;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: center;
}
#filters p{
    font-weight: bold;
    margin-right:40px;
}
#filters-button{
    margin:10px 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
            /******* Buttons*******/
.filters-button-button{
    margin:10px 0;
    margin-right:20px;
    padding-right: 30px;
    display:flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    background-color: white;
    border:solid 3px #F2F2F2;
    border-radius:40px;
    border-left-style: none;
    text-align:left;
} 
.filters-button-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
    color:#0065FC;
}
                /******* Icons buttons*******/
.filters-button-icon{
    width: 67px;
    height: 67px;
    margin: -2px;
    margin-right:20px;
    padding:17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    color:#0065FC;
    background-color: #DEEBFF;
    border-radius:100%;
    text-align:center;
}
            /******* Informations*******/
#filters-informations {
    display: flex;
    flex-direction: row;
    align-items: center;
}      
                /******* Icon informations*******/
.fa-info{
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 1rem;
    color:#0065FC;
    background-color: white;
    border:2px solid #F2F2F2;
    border-radius:30px;
    text-align:center;
}
/************** SECTION 2 : "HÉBERGEMENTS À MARSEILLE" + "LES PLUS POPULAIRES" *************/
    /******** SECTION *********/
#section-hebergements-populaires{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:49px 0;
    max-width:1786px;
}
        /******** Section 2.1 : "hébergements à Marseille" *********/
            /******** Section *********/
#hebergements-marseille{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    flex: 66%;
    padding: 53px 45px;
    background-color: #F2F2F2;
    border-radius: 26px;
    margin-right:45px;
}
            /******* Articles*******/
#hebergements-marseille-articles{
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hebergements-marseille-articles-article{
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 39px;
    padding: 7px;
    background-color: white;
    border-radius: 27px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
}
.hebergements-marseille-articles-article:hover, .les-plus-populaires-articles-article:hover{
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.25);
}
                /******* Images*******/
.hebergements-marseille-articles-article img{
    width: 100%;
    height: 152px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
                /******* Title + body + icons *******/
.hebergements-marseille-article-title-body-icons{
    padding:0 16px;
    margin: 12px 0;
}
.hebergements-marseille-articles-article p {
    font-size: 15px;
    padding:8px 0 9px 0;
}
                        /******* Icons *******/
.hebergements-marseille-icons{
    display: flex;
    flex-direction: row;
}
.hebergements-marseille-articles-article .fa-star{
    font-size: 0.7em;
    color:#0065FC;
    margin-right: 2px;
}
article.hebergements-marseille-articles-article:nth-child(1) > a:nth-child(1) > div:nth-child(2) > div:nth-child(3) > i:nth-child(5),
article.hebergements-marseille-articles-article:nth-child(3) > a:nth-child(1) > div:nth-child(2) > div:nth-child(3) > i:nth-child(5),
article.hebergements-marseille-articles-article:nth-child(4) > a:nth-child(1) > div:nth-child(2) > div:nth-child(3) > i:nth-child(4),
article.hebergements-marseille-articles-article:nth-child(4) > a:nth-child(1) > div:nth-child(2) > div:nth-child(3) > i:nth-child(5),
article.hebergements-marseille-articles-article:nth-child(5) > a:nth-child(1) > div:nth-child(2) > div:nth-child(3) > i:nth-child(5),
article.les-plus-populaires-articles-article:nth-child(2) > a:nth-child(1) > div:nth-child(2) > div:nth-child(2) > i:nth-child(5),
article.les-plus-populaires-articles-article:nth-child(3) > a:nth-child(1) > div:nth-child(2) > div:nth-child(2) > i:nth-child(5) {
    color: #d9d9d9;
}
            /******* Button*******/
#hebergements-marseille-more {
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
}
#hebergements-marseille-more:hover{
    cursor:pointer;
    color:#0065FC;
}
        /******** Section 2.2 : "les plus populaires" *********/
            /******** Section *********/
#les-plus-populaires{
    flex: 31%;
    padding: 53px 45px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 26px;
}
            /******* Title h2 + icon *******/
#les-plus-populaires-title-h2-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fa-chart-line {
    font-size: 1.2em;
}
            /******* Articles *******/
#les-plus-populaires-articles{
    margin-top:25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.les-plus-populaires-articles-article{
    display: flex;
    flex-direction: row; 
    width:100%;
    margin:20px 0;
    padding: 7px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
}
.les-plus-populaires-articles-article > a {
    display: flex;
    width:100%;
}
                /******* Images*******/
.les-plus-populaires-articles-article-img{
    display:flex;
    flex:22%; 
}
.les-plus-populaires-articles-article img{
    width: 100%;
    height: 178px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}
                /******* Title + body + icons *******/
.les-plus-populaires-article-title-body-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    margin: 15px 0 15px 20px;
    flex:42%;
}
.les-plus-populaires-article-title-body-icons p{
    font-size: 15px;
    padding:12px 0;
}
                        /******* Icons *******/
.les-plus-populaires-icons{
    display: flex;
    flex-direction: row;
}
.les-plus-populaires-icons .fa-star{
    font-size: 0.7em;
    color:#0065FC;
    margin-right: 2px;
}
/************** SECTION 3 : "ACTIVITÉS À MARSEILLE" *************/
    /******** SECTION *********/
#section-activites-a-marseille{
    display: flex;
    flex-direction: column;
    margin: 80px 0;
}
        /******** Container *********/
#activites-a-marseille-figcaptions{
    height:595px;
    display: flex;
    flex-direction: row;
    margin: 36px 0;
}
            /******** Containers Figures *********/
.activites-a-marseille-figcaptions-figcaption{
    flex:20%;
    display:flex;
    flex-direction: column;
}
div.activites-a-marseille-figcaptions-figcaption:nth-child(2),
div.activites-a-marseille-figcaptions-figcaption:nth-child(3),
div.activites-a-marseille-figcaptions-figcaption:nth-child(4) {
    margin-left: 40px;
}
                /******** Figures *********/
.activites-a-marseille-figcaptions-figcaption > a {
    display: flex;
    min-height: 0%;
    flex-direction: column;
    flex:auto;
}
figure{
    background-color:white;
    border-radius: 27px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
}
figure:hover{
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.25);
    cursor:pointer;
}
                    /******** Cards *********/
                        /******** One card and Two cards *********/
.one-card-1, .one-card-4{
    display: flex;
    flex-direction:column;
    flex: 100%;
    min-height: 0%;
}
.two-cards-2, .two-cards-6{
    display: flex;
    flex-direction:column;
    flex: 53%;
    min-height: 0%;
}
.two-cards-3, .two-cards-5{
    display: flex;
    flex-direction:column;
    flex: 46%;
    min-height: 0%;
}
.two-cards-2, .two-cards-5{
    margin-bottom:55px;
}
.one-card-img1, .one-card-img4{
    display: flex;
    flex: 95%;
    min-height: 0%;
}
.two-cards-img2, .two-cards-img6{
    display: flex;
    flex: 95%;
    min-height: 0%;
}
.two-cards-img3, .two-cards-img5{
    display: flex;
    flex: 95%;
    min-height: 0%;
} 
                        /******** Figcaptions *********/
figcaption{
    display: flex;
    flex: 5%;
    padding: 20px 25px;
}    
                            /******** Pictures *********/
picture{
    display: flex;
}
                                /******** Images *********/        
picture > img {
    width: 100%;
    object-fit: cover;
    border-radius: 27px 27px 0 0;
}
.two-cards-picture5 > img:nth-child(3), .two-cards-picture6 > img:nth-child(3) {
    object-position: top;
}
.two-cards-picture2 > img:nth-child(3) {
    object-position: 50% 40%;
}
.two-cards-picture3 > img:nth-child(3) {
    object-position: 50% 25%;
}
/************** SECTION 4 : FOOTER *************/
footer{
    background-color: #F2F2F2;
    margin:0!important;
}
#footer-container{
    padding:58px 60px;
    display:flex;
    flex-direction: row;
}
.footer-div{
    flex:30%;
    display:flex;
    flex-direction: column;
    margin-right: 19px;
}
.footer-title{
    font-weight: bold;
}
.footer-ul{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0;
    margin: 15px 0;
}
.footer-li{
    list-style: none;
    margin: 8px 0;
}

/*** MEDIA QUERIES ***/
@media (max-width: 768px){ /*mobiles */
    /* Header */
        header{display:flex;flex-direction: column;align-items: center;margin:10px 0;}
        #div-header-logo {justify-content: center;}
        #div-header-logo > a:nth-child(1) {display: flex;flex-direction: row;justify-content: center;}
        #header-nav {width:100%;}
        #header-nav-ul li {flex: 50%; padding:0}
        .header-nav-li {padding:37px 0px;display: flex;flex-direction:row;justify-content:center;}
        .header-nav-li{margin:0;border-bottom:solid 3px #F2F2F2;}
        .header-nav-li:hover, .header-nav-li:active{border-top:0px;border-bottom:solid 3px #0065FC;color:#0065FC;}
        .header-nav-li a:hover, .header-nav-li a:active{color:#0065FC;background-color: white;}
    
    /* Main */
        main{margin:0;}

    /* Section 1 Form search - Filters */
        #section-form-search-filters{margin:21px 35px;}

        /* Form search */
            #form-search-input{flex: 76%;font-size: 19px;overflow:hidden;padding:22px 0px 22px 17px;}
            i.fa-map-marker-alt{flex: 12%;}
            #form-search-button{display:none;}
            i.fa-search{margin-left: -20px;flex:12%;display:inline-block;text-align:center;color:white;background-color:#0065FC;padding:24px 20px;border-radius:22px; cursor: pointer;}
            
        /* Filters */
            #filters{display:flex;flex-direction: column;align-items: flex-start;}
    
    /* Section 2 Hébergements à Marseille and Les plus populaires*/
        #section-hebergements-populaires{display:flex; flex-direction:column-reverse;}
        #hebergements-marseille, #les-plus-populaires{width:100%;padding:70px 35px;}
        h3{font-size: 0.9em;}
        .les-plus-populaires-title-body > p, .hebergements-marseille-article-title-body-icons > p{font-size: 17px;}
        .hebergements-marseille-icons > .fa-star , .les-plus-populaires-icons> .fa-star {font-size: 0.75em;}

        /* Section 2.1 Hébergements à Marseille*/
            #hebergements-marseille{background-color: white;}
            .hebergements-marseille-articles-article{width: 100%;}
            .hebergements-marseille-articles-article img {height: 229px;}
        
        /* Section 2.2 Les plus populaires*/
            #les-plus-populaires{background-color: #F2F2F2;}

    /* Section 3 : Activités à Marseille */
        #activites-a-marseille-figcaptions{flex-direction:column;height:100%;}
        .activites-a-marseille-figcaptions-figcaption{flex:unset;min-height: unset;margin:0!important;}
        picture > img {height: 271px;}
        .one-card-img1, .one-card-img4, .two-cards-img2, .two-cards-img3, .two-cards-img5, .two-cards-img6 {width:100%; display:block; margin:0;}
        .two-cards-2, .two-cards-5{margin:0;}
        figure{margin:19px 0!important;}
    
    /* Section 4 : Footer */
        #footer-container{flex-direction: column;padding: 70px 35px 0 35px!important;}
        .footer-div{margin:20px 0;}                 
}

@media (max-width: 992px){ /*tablettes*/
    /* Section 1 Form search - Filters */
        /* Filters */
            #filters{margin-top:20px;}

    /* Section 2 Hébergements à Marseille and Les plus populaires*/
        #section-hebergements-populaires{display:flex; flex-direction:column-reverse;}
        #hebergements-marseille, #les-plus-populaires{width:100%;padding:70px 35px;margin:0;}
        h3{font-size: 0.9em;}
        .les-plus-populaires-title-body > p, .hebergements-marseille-article-title-body-icons > p{font-size: 17px;}
        .hebergements-marseille-icons > .fa-star , .les-plus-populaires-icons> .fa-star {font-size: 0.75em;}

        /* Section 2.1 Hébergements à Marseille*/
        #hebergements-marseille{background-color: white;}
    
        /* Section 2.2 Les plus populaires*/
        #les-plus-populaires{background-color: #F2F2F2;}

    /* Section 3 : Activités à Marseille */
        #section-activites-a-marseille{padding: 19px 35px;margin: 40px 0;}
        #activites-a-marseille-figcaptions{flex-wrap:wrap;height:100%;}
        .activites-a-marseille-figcaptions-figcaption{flex:40%;margin:10px 0;height:450px;}
        div.activites-a-marseille-figcaptions-figcaption:nth-child(3) {margin-left: unset;}
        .two-cards-2, .two-cards-5 {margin-bottom: 25px;}

    /* Section 4 : Footer */
        #footer-container{padding: 70px 95px 0 95px;}
}