/* Initialisation reset*/
*{
    margin:0;
    padding:0;
}
/* Déclaration initiale box-sizing */
*{
  box-sizing: border-box;
 /* box-sizing est appliqué à tous les éléments */
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color:black;
    text-align: left;
    max-width:1920px;
}
main{
    margin:0% 3.5%;
}
a{
    text-decoration: none;
    color:black;
    background-color: white;
}
h1{
    font-size: 1.7em!important;
}
h2{
    font-size: 1.2em;
    /* margin: 0 0 1.3% 1.7%; */
}
h3{
    font-size: 0.8em;
}
p{
    /* margin:5px 0; */
}

/************** HEADER *************/
header{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:0 40px;
}
    /******** Logo *********/
#header-logo{
    text-align: center;
    width:125px;
    height:auto;
}
    /******** Navigation/menu *********/
#header-nav{
    flex: 100%;
}
#header-nav-ul{
    display:flex;
    flex-direction: row;
    /* margin:0 30px;
    padding:0; */
    justify-content: flex-end;     
}
#header-nav-ul li{
    list-style: none;
    /* padding:40px 0px; */
}
.header-nav-li{
    padding:37px 0px;
    text-align: center;
    border-top:solid 0px;
}
.header-nav-li:hover{
    color:#0065FC;
    border-top:solid 3px #0065FC;
}
.header-nav-li a:hover{
    color:#0065FC;
    background-color: white;
}

/************** SECTION 1 : FORM SEARCH + FILTERS *************/
    /******** Section *********/
.section-form-search-filters{
    display:flex;
    flex-direction:column;
    align-items: space-around;
}
        /******* Form search*******/
.section-form-search-filters form{
    margin:15px 0;
    margin-right: 65%;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
}
            /**** Icon location ****/
i.fa-map-marker-alt{
    flex: 0%;
    padding:23px;
    text-align:center;
    font-size: 1.2em;
    border-radius:22px 0 0 22px;
    background-color: #F2F2F2;
}
            /**** Input : search + submit ****/
#form-search-input, #form-search-button{
    font-family: "Raleway";
    font-weight: bold;
    font-size:20px;
    border:none;
}
#form-search-input{
    flex: 52%;
    padding:21px 0px 21px 20px;
    background-color: white;
    color:black;
    border:solid 2px #F2F2F2;
    border-left:none;
}
#form-search-input::placeholder{
    opacity: 1;
}
#form-search-button{
    flex: 20%;
    padding:22px;
    color:white;
    background-color: #0065FC;
    border-radius:0 22px 22px 0;
}
            /**** Icon glass ****/
i.fa-search{
    display:none;
}
        /******* Filters*******/
.filters{
    display:flex;
    flex-flow: row;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: center;
}
.filters p{
    font-weight: bold;
    margin-right:40px;
}
.filters-button{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:20px 0;
}
            /******* Buttons*******/
.filters-button-button{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 30px;
    font-weight: bold;
    background-color: white;
    border:none;
    border:solid 3px #F2F2F2;
    border-radius:40px;
    border-left-style: none;
    align-items: center;
    margin:10px 0;
    margin-right:20px;
} 
.filters-button-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
    color:#0065FC;
}
                /******* Icons buttons*******/
.filters-button-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: -2px;
    margin-right:20px;
    padding:17px;
    font-size: 1.5rem;
    color:#0065FC;
    background-color: #DEEBFF;
    border-radius:100%;
    text-align:center;
}





            /******* Informations*******/
                        /******* Paragraph informations*******/
/* .filters-informations{
    font-size: 12px;
} */
                        /******* Icon informations*******/
.fa-info{
    padding: 10px 15px;
    font-size: 1rem;
    color:#0065FC;
    background-color: white;
    border:1px solid #DEEBFF;
    border-radius:30px;
    text-align:center;
}


/************** SECTION 2 : "HÉBERGEMENTS À MARSEILLE" + "LES PLUS POPULAIRES" *************/
    /******** SECTION *********/
#section-hebergements-populaires{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:1.9% 0;
}

        /******** Section 2.1 : "hébergements à Marseille" *********/
            /******** Section *********/
#hebergements-marseille{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    width: 66%;
    /* height:100%; */
    padding: 2.8% 3%;
    background-color: #F2F2F2;
    border-radius: 26px;
}
#hebergements-marseille-title-h2 {
    margin-bottom: 0.6%;
}
            /******* Articles*******/
#hebergements-marseille-articles{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.7% 0;
    flex-wrap: wrap;
}
.hebergements-marseille-articles-article{
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 3.5%;
    padding: 7px;
    background-color: white;
    border-radius: 27px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
}
.hebergements-marseille-articles-article:hover, .les-plus-populaires-articles-article:hover{
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.25);
    /* transition: all 0.5s ease-out;
    transform: scale(1.08); */
}
                /******* Images*******/
.hebergements-marseille-articles-article img{
    width: 100%;
    height: 152px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
                /******* Title + body + icons *******/
.hebergements-marseille-article-title-body-icons{
    padding:0 3.5%;
    margin-top: 3%;
    margin: 3% 0;
}
.hebergements-marseille-articles-article p {
    font-size: 15px;
    padding:2% 0 2.5% 0;
}
                        /******* Icons *******/
.hebergements-marseille-icons{
    display: flex;
    flex-direction: row;
}
.hebergements-marseille-articles-article .fa-star{
    font-size: 0.6em;
    color:#0065FC;
    margin-right: 0.5%;
}
article.hebergements-marseille-articles-article:nth-child(1) > a:nth-child(1) > div:nth-child(2) > div:nth-child(3) > i:nth-child(5),
article.hebergements-marseille-articles-article:nth-child(3) > a:nth-child(1) > div:nth-child(2) > div:nth-child(3) > i:nth-child(5),
article.hebergements-marseille-articles-article:nth-child(4) > a:nth-child(1) > div:nth-child(2) > div:nth-child(3) > i:nth-child(4),
article.hebergements-marseille-articles-article:nth-child(4) > a:nth-child(1) > div:nth-child(2) > div:nth-child(3) > i:nth-child(5),
article.hebergements-marseille-articles-article:nth-child(5) > a:nth-child(1) > div:nth-child(2) > div:nth-child(3) > i:nth-child(5),
article.les-plus-populaires-articles-article:nth-child(2) > a:nth-child(1) > div:nth-child(2) > div:nth-child(2) > i:nth-child(5),
article.les-plus-populaires-articles-article:nth-child(3) > a:nth-child(1) > div:nth-child(2) > div:nth-child(2) > i:nth-child(5) {
    color: #d9d9d9;
}
            /******* Button*******/
#hebergements-marseille-more {
    margin-bottom: 1.3%;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
}
#hebergements-marseille-more:hover{
    cursor:pointer;
    color:#0065FC;
}
        /******** Section 2.2 : "les plus populaires" *********/
            /******** Section *********/
#les-plus-populaires{
    width: 31%;
    padding: 2.7% 2.9% 1.6% 2.9%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 26px;
}
            /******* Title h2 + icon *******/
#les-plus-populaires-title-h2-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:4%;
}
.fa-chart-line {
    font-size: 1.2em;
}
            /******* Articles *******/
#les-plus-populaires-articles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.les-plus-populaires-articles-article{
    display: flex;
    flex-direction: row; 
    width:100%;
    margin:3% 0;
    padding: 7px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
}
.les-plus-populaires-articles-article > a {
    display: flex;
    width:100%;
}
                /******* Images*******/
.les-plus-populaires-articles-article-img{
    display:flex; 
}
.les-plus-populaires-articles-article img{
    width: 173px;
    height: 178px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}
                /******* Title + body + icons *******/
.les-plus-populaires-article-title-body-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    margin: 3.5% 0% 3.5% 5%;
}
.les-plus-populaires-article-title-body-icons p{
    font-size: 15px;
    padding:5% 0;
}
                        /******* Icons *******/
.les-plus-populaires-icons{
    display: flex;
    flex-direction: row;
}
.les-plus-populaires-icons .fa-star{
    font-size: 0.6em;
    color:#0065FC;
    margin-right: 0.5%;
}



/*** MEDIA QUERIES ***/
@media (max-width: 768px){ /*mobiles*/
    /* Header */
        header{display:flex;flex-direction: column;align-items: center;margin:10px;}
        #header-logo{width:127px;}
        #header-nav, .header-nav-li {width: 100%;}
        #header-nav-ul{margin:0;justify-content: space-evenly;}
        #header-nav-ul li{flex:50%;}
        /* #header-nav-ul li:hover{border-bottom:solid 3px #0065FC;} */
        .header-nav-li{margin:0;border-bottom:solid 3px #F2F2F2;}
        .header-nav-li:hover{border-top:solid white;}
        .header-nav-li a:hover{border-bottom:solid 3px #0065FC;border-top:solid white;color:#0065FC;}
    
    /* Main */
        main{margin:0;}

    /* Section 1 Form search - Filters */
    .section-form-search-filters{margin:4.5%;}

    /* Form search */
        form{width:100%;}
        #form-search-input{overflow:hidden;}
        #form-search-button{display:none;}
        .section-form-search-filters form {margin-right: 0%;}
        i.fa-search{flex:0%;display:inline-block;text-align:center;color:white;background-color:#0065FC;padding:23px 20px;border-radius:22px;position:relative;right:30px;}
        
    /* Filters */
        #filters{display:flex;flex-direction: column;align-items: flex-start;margin-top:20px;}
    
    /* Section 2 Hébergements à Marseille and Le plus populaire*/
        #hebergements-marseille, #les-plus-populaires{width:100%;padding:8% 5%;}

        /* Section 2.1 Hébergements à Marseille*/
            .hebergements-marseille-articles-article{width: 100%;}
            .hebergements-marseille-articles-article img {height: 229px;}
        
        /* Section 2.2 Les plus populaires*/
            .les-plus-populaires-articles-article img {width: 255px;height: 268px;}





}



@media (max-width: 991px){ /*tablettes*/
    /* Form search */
        i.fa-search{display:none;}

    /* Filters */
        #filters{margin-top:20px;}

    /* Section 2 Hébergements à Marseille and Le plus populaire*/
        #section-hebergements-populaires{display:flex; flex-direction:column-reverse;}
        #hebergements-marseille, #les-plus-populaires{width:100%;padding:8% 5%;}
        h3{font-size: 0.9em;}
        .les-plus-populaires-title-body > p, .hebergements-marseille-article-title-body-icons > p{font-size: 17px;}
        .hebergements-marseille-icons > .fa-star , .les-plus-populaires-icons> .fa-star {font-size: 0.75em;}

        /* Section 2.1 Hébergements à Marseille*/
        #hebergements-marseille{background-color: white;}
    
        /* Section 2.2 Les plus populaires*/
        #les-plus-populaires{background-color: #F2F2F2;}
        .les-plus-populaires-articles-article {margin: 1.5% 0;}


    

}

@media (min-width: 992px) and (max-width: 1200px){ /*écrans ordinateurs*/
    /* Form search */
        .fa-search{display:none;}

    /* Section 2 Hébergements à Marseille and Le plus populaire*/
        /* Section 2.1 Hébergements à Marseille*/
        #hebergements-marseille{width:56%;}
        .hebergements-marseille-articles-article {width: 48%;}
    
        /* Section 2.2 Les plus populaires*/
        #les-plus-populaires{width:42%;}
        .les-plus-populaires-articles-article img{width: 145px;}

}





